.selected-flag-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.language-dropdown.MuiListItem-root {
  padding: 0px !important;
  margin-bottom: -12px !important;
  margin-left: 12px;
}

.language-dropdown .MuiFormControl-root {
  min-width: 100px !important;
  margin-top: 0px;
}

.language-dropdown .MuiInputBase-root {
  width: fit-content;
}

.MuiSelect-select {
  width: 100px !important;
  height: 55px !important;
  padding: 0px !important;
  backdrop-filter: blur(12px) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 8px !important;
}

.selected-flag {
  width: 48px;
}

.language-dropdown .MuiSvgIcon-root {
  color: white;
  margin-right: 4px;
}

.MuiPaper-root.MuiPopover-paper {
  width: 165px !important;
  background-color: rgba(250, 252, 250, 0.3) !important;
  color: white !important;
}

.MuiMenuItem-root.Mui-selected {
  background-color: rgba(1, 29, 22, 0.3) !important;
}

.flag {
  object-fit: contain;
  width: 40px;
  border-radius: 8px;
  margin-right: 8%;
}

.checkmark.MuiSvgIcon-root {
  margin-left: 4%;
  color: white;
  font-size: 28px;
}

@media (max-width: 1050px) {
  .language-dropdown {
    display: flex;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-left: 8px;
  }

  .MuiSelect-select {
    width: 120px !important;
    height: 65px !important;
  }

  .selected-flag {
    width: 58px;
  }

  .language-dropdown .MuiSvgIcon-root {
    margin-right: 7px;
  }
}
