.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.navbar-logo {
  width: clamp(160px, 40vw, 240px);
  height: auto;
}

.MuiDrawer-paper {
  width: 50vw;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(150deg, #00df9a, #016c4a) !important;
  color: white !important;
  padding-top: 2vw;
}

.sidenav-top {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.sidenav-logo {
  filter: brightness(20%);
  width: min(67%, 200px);
  aspect-ratio: 2/1;
}

.sidenav-open-button {
  display: none !important;
}

.sidenav-open-button .MuiSvgIcon-root {
  font-size: clamp(45px, 11vw, 55px) !important;
  color: white !important;
}

.sidenav-open-button .MuiSvgIcon-root:hover {
  color: #00df9a !important;
}

.sidenav-close-button .MuiSvgIcon-root {
  font-size: clamp(34px, 10vw, 60px) !important;
  color: white !important;
}

.sidenav-close-button .MuiSvgIcon-root:hover {
  color: #001f1f !important;
}

@media (max-width: 1050px) {
  .sidenav-open-button {
    display: block !important;
  }
}

@media (max-width: 600px) {
  .sidenav-logo {
    top: calc(15px * ((600px-100vw) / 100));
  }
}
