.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.navbar-logo {
  width: clamp(160px, 40vw, 240px);
  height: auto;
}

.sidenav-open-button {
  display: none !important;
}

.sidenav-open-button .MuiSvgIcon-root {
  font-size: clamp(45px, 11vw, 55px) !important;
  color: white !important;
}

.sidenav-open-button .MuiSvgIcon-root:hover {
  color: #00df9a !important;
}

@media (max-width: 1050px) {
  .sidenav-open-button {
    display: block !important;
  }
}
