.navbar-links {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}

.navbar-item {
  cursor: pointer;
  font-size: 20px;
}

.navbar-item:hover {
  color: #00df9a;
}

.navbar-item .MuiSvgIcon-root {
  font-size: min(11vw, 34px) !important;
  margin-right: 5%;
}

.navbar-links .MuiListItem-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-links.MuiList-root {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
}

.sidenav-links .MuiListItem-root {
  margin-bottom: 10px;
  font-size: clamp(18px, 4.5vw, 24px);
  font-weight: bold;
  padding: 0px 16px 24px;
}

.sidenav-links .MuiListItem-root:hover {
  color: #001f1f !important;
}

@media (max-width: 1050px) {
  .navbar-links {
    display: none;
  }
}
