.analytics-container-contact {
  padding: 50px 20px;
}

.title-contact {
  margin: auto;
  font-size: 65px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.separator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.separator-line {
  background-color: #002e2e;
  width: 14vw;
  height: 2px;
  margin: auto 0px;
}

.separator-or {
  font-size: 35px;
  margin: auto 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.icon {
  font-size: 120px !important;
  color: #002e2e !important;
}

.icon:hover {
  color: #00df9a !important;
}

.inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  max-width: 550px;
  min-width: 465px;
  width: 100%;
  margin: auto;
}

.contact-title {
  width: 100%;
  text-align: center;
  color: #002e2e;
}

.contact-title h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 0px;
}

.contact-title p {
  font-size: 1.1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.email-inputs {
  display: flex;
  justify-content: space-between;
}

.email-input {
  width: 48%;
}

.sauce-button {
  background-color: #002e2e;
  color: white;
  width: 300px;
  margin: auto;
  padding: 14px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sauce-button:hover {
  background-color: #00df9a;
}

.sauce-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.bow-arrow {
  fill: none;
  stroke: #4831d4;
  stroke-width: 2;
  stroke-miterlimit: 0;
}

.MuiTextField-root {
  width: 100% !important;
}

.MuiInputBase-root {
  padding: 0px !important;
}

.MuiInputBase-input {
  padding: 15px 15px 10px !important;
  font-size: 20px !important;
  color: #002e2e !important;
}

.MuiSnackbar-root .MuiPaper-root {
  min-width: 265px !important;
}
