.hero-container {
  background: url("../assets/portfolio-hero-bg.jpg") center no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 0px;
}

.hero-content {
  max-width: 850px;
  width: 100%;
  margin: 25px auto;
  text-align: center;
}

.hero-pretitle {
  color: #00df9a;
  font-size: 20px;
  font-weight: bold;
}

.hero-title {
  font-size: 70px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 36px;
}

.hero-description {
  font-size: 28px;
  font-weight: bold;
  color: rgb(164, 164, 164);
  text-indent: 20px;
}

@media (max-width: 700px) {
  .hero-pretitle {
    font-size: 18px;
  }

  .hero-title {
    font-size: 64px;
    padding-top: 6px;
    padding-bottom: 33px;
  }

  .hero-description {
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  .hero-pretitle {
    font-size: 16px;
  }

  .hero-title {
    font-size: 60px;
    padding-top: 2px;
    padding-bottom: 30px;
  }

  .hero-description {
    font-size: 22px;
  }
}
