/* Navbar.css (Corrected) */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Increased height for better spacing */
  width: 100%;
  margin: 0 auto;
  color: white;
  background-color: transparent;
}

.navbar-title {
  size: 14px;
  width: 240px;
  height: auto;
}

.navbar-links {
  display: flex;
  align-items: flex-end;
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

.navbar-item {
  padding: 0px 16px 24px 16px;
  cursor: pointer;
  font-size: 20px;
}

.navbar-item:hover {
  color: #00df9a;
}

.mobile-menu {
  display: none !important;
}

.mobile-menu .MuiSvgIcon-root {
  font-size: 55px !important;
  color: white !important;
}

.mobile-menu .MuiSvgIcon-root:hover {
  color: #00df9a !important;
}

.MuiDrawer-paper {
  width: 50vw;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background: linear-gradient(150deg, #00df9a, #016c4a) !important;
  color: white !important;
}

.navbar-close-button.MuiButton-root {
  position: absolute !important;
  top: 4vh !important;
}

.navbar-close-button .MuiSvgIcon-root {
  font-size: 60px !important;
  color: white !important;
}

.navbar-close-button .MuiSvgIcon-root:hover {
  color: #001f1f !important;
}

.MuiListItem-root {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.MuiListItem-root:hover {
  color: #001f1f !important;
}

@media (max-width: 920px) {
  .navbar-links {
    display: none;
  }
  .mobile-menu {
    display: block !important;
  }
}
