.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.navbar-logo {
  width: 240px;
  height: auto;
}

.mobile-menu {
  display: none !important;
}

.mobile-menu .MuiSvgIcon-root {
  font-size: 55px !important;
  color: white !important;
}

.mobile-menu .MuiSvgIcon-root:hover {
  color: #00df9a !important;
}

.MuiDrawer-paper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, #00df9a, #016c4a) !important;
  color: white !important;
}

.navbar-close-button.MuiButton-root {
  position: absolute;
  top: 4vh;
}

.navbar-close-button .MuiSvgIcon-root {
  font-size: 60px !important;
  color: white !important;
}

.navbar-close-button .MuiSvgIcon-root:hover {
  color: #001f1f !important;
}

@media (max-width: 920px) {
  .mobile-menu {
    display: block !important;
  }
}

@media (max-width: 810px) {
  .navbar-logo {
    width: 220px;
  }
}

@media (max-width: 630px) {
  .navbar-logo {
    width: 200px;
  }
}

@media (max-width: 520px) {
  .navbar-logo {
    width: 180px;
  }
}

@media (max-width: 500px) {
  .navbar-close-button .MuiSvgIcon-root {
    font-size: 56px !important;
  }
}

@media (max-width: 450px) {
  .navbar-close-button .MuiSvgIcon-root {
    font-size: 52px !important;
  }
}

@media (max-width: 410px) {
  .navbar-logo {
    width: 160px;
  }
}

@media (max-width: 400px) {
  .navbar-close-button .MuiSvgIcon-root {
    font-size: 48px !important;
  }
}
