.navbar-links {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}

.navbar-item {
  cursor: pointer;
  font-size: 20px;
}

.drawer-list .navbar-item {
  padding: 0px 16px 24px 16px;
}

.navbar-item:hover {
  color: #00df9a;
}

.drawer-list .MuiListItem-root {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.drawer-list .MuiListItem-root:hover {
  color: #001f1f !important;
}

.navbar-links .MuiListItem-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-lang.MuiListItem-root {
  padding: 0px !important;
  margin-bottom: -12px !important;
}

.dropdown-lang .MuiFormControl-root {
  min-width: 100px !important;
}

.dropdown-lang .MuiInputBase-root {
  width: fit-content;
}

.MuiSelect-select {
  width: 100px !important;
  height: 55px !important;
  padding: 0px !important;
  backdrop-filter: blur(12px) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 8px !important;
}

.top-flag-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.top-flag {
  width: 48px;
}

.flag {
  object-fit: contain;
  width: 40px;
  border-radius: 8px;
  margin-right: 8%;
}

.dropdown-lang .MuiSvgIcon-root {
  color: white;
  margin-right: 4px;
}

.MuiPaper-root {
  width: 165px !important;
  background-color: rgba(250, 252, 250, 0.3) !important;
  color: white !important;
}

.MuiMenuItem-root.Mui-selected {
  background-color: rgba(1, 29, 22, 0.3) !important;
}

.dropdown-flag.MuiSvgIcon-root {
  margin-left: 4%;
  color: white;
  font-size: 28px;
}

@media (max-width: 920px) {
  .navbar-links {
    display: none;
  }
}

@media (max-width: 500px) {
  .drawer-list .MuiListItem-root {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .drawer-list .MuiListItem-root {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .drawer-list .MuiListItem-root {
    font-size: 18px;
  }
}
