/* Newsletter.css */
.newsletter-container {
  width: 100%;
  padding: 64px 16px; /* Adjusted padding */
  background-color: transparent; /* Example background color */
  color: white;
}

.newsletter-content {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 20px; /* Spacing between grid items */
}

.newsletter-text-content {
  grid-column: span 2; /* Occupy two columns on larger screens */
  margin-bottom: 20px; /* Space below text content */
}

.newsletter-title {
  font-size: 2rem; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter-description {
  line-height: 1.6; /* Improve readability */
}

.newsletter-form-container {
  margin-top: 20px;
}

.newsletter-form {
  display: flex;
  flex-direction: column; /* Stack input and button on smaller screens */
}

@media (min-width: 768px) {
  .newsletter-form {
    flex-direction: row; /* Input and button side by side on larger screens */
    align-items: center; /* Vertically align input and button */
  }
}

.newsletter-input {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  color: black;
  border: none; /* remove default border */
  margin-bottom: 10px; /* Space below input on smaller screens */
}

@media (min-width: 768px) {
  .newsletter-input {
    margin-bottom: 0; /* Remove margin below input on larger screens */
  }
}

.newsletter-button {
  background-color: #00df9a;
  color: black;
  border-radius: 8px;
  font-weight: medium;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-align: center; /* center text inside the button */
  white-space: nowrap; /* Prevent button text from wrapping */
}

@media (min-width: 768px) {
  .newsletter-button {
    margin-left: 10px; /* Space to the left of button on larger screens */
    width: 200px; /* set width for larger screens */
  }
}

.newsletter-privacy {
  margin-top: 10px;
}

.newsletter-privacy-link {
  color: #00df9a;
}
